@charset "utf-8";
.nav{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}
.item1, .item2, .item3, .item4{
    align-self: auto;
}

#name{
    color:rgba(204, 217, 219, 0.979);
    font-family: K2D;
}
h2 + h3{
    color: white;
}

.po{
    display: flex;
    display: -webkit-flex;
    
}
.item4, .item5, .item6{
    align-self: center;
    
}
h3>strong{
    color:rgb(122, 105, 221);
}


a:link,a:visited
{
font-weight:bold;
color:rgba(204, 217, 219, 0.979);
background-color:rgba(61, 66, 66, 0.836);
text-align:center;
padding: 6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
background-color:rgb(126, 86, 129);
}
img
{
    width: 220px;height:150px;
}

#bgimage{
    background-image: url("../images/bgimage.jpg");
    background-size: 100%;
}
.container {
    display: flex;
    display: -webkit-flex;
}
.item1,.item2, .item3{
    align-self: auto;
}
i1+i2 {
    align-content: center;
    color:rgba(204, 217, 219, 0.979);
}
.title
{color:white;}
d1 + d2{
    color: white;}
.line{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content:flex-start;}
.t1, .t2{
    align-self:auto;
}


@media only screen and (max-width: 750px) {
    /* for mobile*/

    .body{
        background-color: grey;
    }
    /* typography */
    h2 {
        font-size: 30px;
    
    }
    .item1, .item2, .item3, .item4{
        font-size: 12px;
    }

    #name{
        font-size: 11px;
    }

    #description{
        font-size: 11px;
    }

    .title {
        font-size: 14px;
    }



    /*layout*/
    .nav{
        display: flex;
        flex-direction: column;
    }
    .item1, .item2, .item3, .item4{
        align-items: flex-start;
        margin: 10px;
    }
    .po{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
    }
    .item4, .item5, .item6{
        align-items: flex-ends;
    }


    
    /*change layout*/

}
@media only screen and (min-width: 768px) and (max-width: 1024px )and (orientaiton: landscape) {
    /* wider than its height */
    h2 {
        font-size: 80px;
       
    }
    #name{
        font-size: 36px;
    }
     /*change layout or user prederences*/
    
    #description{
        font-size: 50px;
    }
    .po{
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
    }
    .nav{
        display: flex;
        display:-webkit-flex;
        flex-direction: row;
    
    }
    .item1, .item2, .item3, .item4{



    }

   


}

    


